/*
------------------------  
 Testimonial Css 2
--------------------------
*/
.slider ul li:nth-last-child(4) {
    position: absolute;
    top: 125px;
    left: 0;
    position: absolute;
    bottom: 0;
}


.rst-2-items {
    padding-left: 3rem;
    padding-right: 3rem;
}

.rst-2-author-rating img{
    width: 21px;
    height: 21px;
}

.rst-style-2 blockquote,
.rst-style-2 dd,
.rst-style-2 dl,
.rst-style-2 figure,
.rst-style-2 h1,
.rst-style-2 h2,
.rst-style-2 h3,
.rst-style-2 h4,
.rst-style-2 h5,
.rst-style-2 h6,
.rst-style-2 hr,
.rst-style-2 p, 
.rst-style-2 pre {
  margin: 0
}

.rst-2-container{
    max-width: 100%!important;
}

.rst_thumbnail_style{
    border-radius: 100%;
    cursor: pointer!important;
}

.rst_thumbnail_style2{
    cursor: pointer!important;
}


.slider ul li:nth-last-child(2){
    position: absolute;
    top: 40px;
    
}
.slider ul li:nth-last-child(1){
    position: absolute;
    top: 40px;
    right: 0;
    
}
.slider ul li:nth-last-child(3){
    position: absolute;
    top: 200px;
    right: 0;
}
.slider ul li:nth-last-child(4){
    position: absolute;
    top: 200px;
    left: 0;
}
.slider ul li{
    width: 70px;
    height: 70px;
}
.slider .slick-dots img {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    background-repeat: no-repeat;
    opacity: 0.3;
}
.slider .slick-active img {
    opacity: 100%;
}

@media only screen and (min-width: 375px) and (max-width: 767px) {


    .slider ul li:nth-last-child(4) {
        
        left: -16px;
    }
    .slider ul li:nth-last-child(3) {
      
        right: -16px;
    }


    .slider .slick-dots img {
        width: 30px;
        height: 30px;
        display: inline-block;
    }

    .rst-style-2 .rst-2-text {
        padding-left: 40px;
        padding-right: 40px;
    }

}





.rst-2-container ol,
.rst-2-container ul {
    list-style: none;
    margin: 0;
    padding: 0
}


*,
rst-2-container ::after,
rst-2-container ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor
}



.rst-2-container a {
    color: inherit;
    text-decoration: inherit
}

.rst-2-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem
}

@media (min-width:640px) {
    .rst-2-container {
        max-width: 640px
    }
}

@media (min-width:768px) {
    .rst-2-container {
        max-width: 768px
    }
}

@media (min-width:1024px) {
    .rst-2-container {
        max-width: 1024px
    }
}

@media (min-width:1280px) {
    .rst-2-container {
        max-width: 1280px
    }
}

@media (min-width:1536px) {
    .rst-2-container {
        max-width: 1536px
    }
}

.rst-2-container {
    max-width: 100%
}

@media (min-width:640px) {
    .rst-2-container {
        max-width: 610px
    }
}

@media (min-width:768px) {
    .rst-2-container {
        max-width: 750px
    }
}

@media (min-width:1024px) {
    .rst-2-container {
        max-width: 1000px
    }
}

@media (min-width:1280px) {
    .rst-2-container {
        max-width: 1200px
    }
}

@media (min-width:1536px) {
    .rst-2-container {
        max-width: 1316px
    }
}

.rst-2-relative {
    position: rst-2-relative
}

.rst-2-mx-auto {
    margin-left: auto;
    margin-right: auto
}

.rst-2-mb-14 {
    margin-bottom: 3.5rem
}

.rst-2-mb-8 {
    margin-bottom: 2rem
}

.rst-2-mb-6 {
    margin-bottom: 1.5rem
}

.rst-2-mb-2 {
    margin-bottom: .5rem
}

.rst-2-mr-1 {
    margin-right: .25rem
}

.\!rst-2-inline-block {
    display: inline-block !important
}

.rst-2-inline-block {
    display: inline-block
}

.rst-2-flex {
    display: flex
}

.rst-2-h-33 {
    height: 8.25rem
}

.rst-2-w-33 {
    width: 8.25rem
}

.rst-2-justify-center {
    justify-content: center
}

.rst-2-rounded-full {
    border-radius: 9999px
}



.rst-2-px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.rst-2-py-2\.5 {
    padding-top: .625rem;
    padding-bottom: .625rem
}

.rst-2-py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.rst-2-pt-24 {
    padding-top: 6rem
}

.rst-2-text-center {
    text-align: center
}



.rst-2-text-base {
    font-size: 1rem
}

.rst-2-text-3xl {
    font-size: 2rem
}

.rst-2-font-bold {
    font-weight: 700
}

.rst-2-font-normal {
    font-weight: 400
}





.rst-2-text-coolGray-600 {
    --tw-text-opacity: 1;
    color: rgba(75, 85, 99, var(--tw-text-opacity))
}



@media (min-width:768px) {
    .md\:rst-2-w-10\/12 {
        width: 83.333333%
    }

    .md\:rst-2-px-32 {
        padding-left: 8rem;
        padding-right: 8rem
    }

    .md\:text-4xl {
        font-size: 2.5rem
    }
}
