/*
------------------------  
 Rst Css 1
--------------------------
*/

.rst-style-1 {
    max-width: 100% !important;
}

.rst_author_image{
    width: 45px!important;
    height: 45px!important;
}

.rst-style-1 .testimonial-thumbnail .slick-track {
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.rst-style-1 .testimonial-thumbnail .slick-slide.slick-current.slick-active {
    width: 60px !important;
    height: 60px !important;
    top: -4px;
    position: relative;
    filter: blur(0px);
}

.rst-style-1 .testimonial-thumbnail.slick-initialized.slick-slider img {
    filter: blur(2px);

}

.rst-style-1 .slider-nav .thumb-slide img {
    opacity: .3;
}

.rst-style-1 .slider-nav .thumb-slide.slick-slide.slick-current.slick-active img {
    opacity: 100%;
}

.rst-style-1 .rst-style-1-rating {
    margin-top: 8px;
}

.rst-style-1 .rst-style-1-rating img {
    width: 21px;
    height: 21px;
}

.rst-style-1 .style-1-author-name {
    margin-bottom: 4px;
}

.rst-style-1 .rst-container-1 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem
}

@media (min-width: 640px) {
    .rst-style-1 .rst-container-1 {
        max-width: 640px
    }
}

@media (min-width: 768px) {
    .rst-style-1 .rst-container-1 {
        max-width: 768px
    }
}

@media (min-width: 1024px) {
    .rst-style-1 .rst-container-1 {
        max-width: 1024px
    }
}

@media (min-width: 1280px) {
    .rst-style-1 .rst-container-1 {
        max-width: 1280px
    }
}

@media (min-width: 1536px) {
    .rst-style-1 .rst-container-1 {
        max-width: 1536px
    }
}

.rst-style-1 .rst-container-1 {
    max-width: 100%
}

@media (min-width: 640px) {
    .rst-style-1 .rst-container-1 {
        max-width: 610px
    }
}

@media (min-width: 768px) {
    .rst-style-1.rst-container-1 {
        max-width: 750px
    }
}

@media (min-width: 1024px) {
    .rst-style-1 .rst-container-1 {
        max-width: 1000px
    }
}

@media (min-width: 1280px) {
    .rst-style-1 .rst-container-1 {
        max-width: 1200px
    }
}

@media (min-width: 1536px) {
    .rst-style-1 .rst-container-1 {
        max-width: 1316px
    }
}

.rst-style-1 .rst-1-relative {
    position: relative
}

.rst-style-1 .rst-1-z-10 {
    z-index: 10
}

.rst-style-1 .rst-1-float-right {
    float: right
}

.rst-style-1 .rst-1-mb-14 {
    margin-bottom: 3.5rem
}

.rst-style-1 .rst-1-ml-3 {
    margin-left: .75rem
}

.rst-style-1 .rst-1-mb-4 {
    margin-bottom: 1rem
}

.rst-style-1 .rst-1-mr-1 {
    margin-right: .25rem
}

.rst-style-1 .\!rst-1-inline-block {
    display: inline-block !important
}

.rst-style-1 .rst-1-flex {
    display: flex
}

.rst-style-1 .rst-1-h-12\.5 {
    height: 3.125rem
}

.rst-style-1 .h-12 {
    height: 3rem
}

.rst-style-1 .rst-1-w-85\% {
    width: 85%
}

.rst-style-1 .w-12\.5 {
    width: 3.125rem
}

.rst-style-1 .rst-1-w-12 {
    width: 3rem
}

.rst-style-1 .rst-1-cursor-pointer {
    cursor: pointer
}

.rst-style-1 .rounded-full {
    border-radius: 9999px
}

.rst-style-1 .rst-1-border-l-3 {
    border-left-width: 3px
}

.rst-style-1 .rst-1-border-red-500 {
    --tw-border-opacity: 1;
    border-color: rgba(239, 68, 68, var(--tw-border-opacity))
}

.rst-style-1 .rst-1-bg-yellow-400 {
    --tw-bg-opacity: 1;
    background-color: rgba(250, 204, 21, var(--tw-bg-opacity))
}

.rst-style-1 .rst-1-px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.rst-style-1 .rst-1-py-2\.5 {
    padding-top: .625rem;
    padding-bottom: .625rem
}

.rst-style-1 .rst-1-py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.rst-style-1 .rst-1-pb-28 {
    padding-bottom: 7rem
}

.rst-style-1 .rst-1-pl-4 {
    padding-left: 1rem
}

.rst-style-1 .rst-1-pl-8 {
    padding-left: 2rem
}

.rst-style-1 .rst-1-text-center {
    text-align: center
}

.rst-style-1 .rst-1-text-2xl {
    font-size: 1.5rem
}

.rst-style-1 .rst-1-text-base {
    font-size: 1rem
}

.rst-style-1 .rst-1-font-bold {
    font-weight: 700
}

.rst-style-1 .rst-1-font-normal {
    font-weight: 400
}

.rst-style-1 .rst-1-italic {
    font-style: italic
}

.rst-style-1 .rst-1-leading-54 {
    line-height: 54px
}

.rst-style-1 .rst-1-text-black {
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity))
}

.rst-style-1 .rst-1-text-coolGray-900 {
    --tw-text-opacity: 1;
    color: rgba(17, 24, 39, var(--tw-text-opacity))
}

.rst-style-1 .rst--1text-coolGray-600 {
    --tw-text-opacity: 1;
    color: rgba(75, 85, 99, var(--tw-text-opacity))
}

.rst-style-1 .rst-1-opacity-50 {
    opacity: .5
}

@media (min-width: 768px) {
    .rst-style-1 .md\:rst-1-w-92\% {
        width: 92%
    }

    .rst-style-1 .md\:rst-1-text-4xl {
        font-size: 2.5rem
    }
}


.rst-style-1 blockquote,
.rst-style-1 dd,
.rst-style-1 dl,
.rst-style-1 figure,
.rst-style-1 h1,
.rst-style-1 h2,
.rst-style-1 h3,
.rst-style-1 h4,
.rst-style-1 h5,
.rst-style-1 h6,
.rst-style-1 hr,
.rst-style-1 p,
.rst-style-1 pre {
    margin: 0
}


*,
.rst-style-1 ::after,
.rst-style-1 ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor
}


.rst-style-1 a {
    color: inherit;
    text-decoration: inherit
}








