/*
------------------------  
 Testimonial Css 4
--------------------------
*/


.rst-container{
    max-width: 80%!important;
}


 
.rst-box-4 .slick-list {
   
    padding-top: 70px;
}

.rst-box-4 .slick-slide {
    margin: 0 12px;
}




.rst-box-4 .slider-arrows .slider-prev, .slider-arrows .slider-next {
    display: flex;
    align-items: center;
    width: 50px;
    text-align: center;
    padding: 4px 0;
    left: -70px;
    border: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    background: #feecef;
    height: 50px;
 
    transition: .5s;
}
.rst-box-4 .slider-arrows .slider-next {
    left: auto;
    right: -70px;
}

 
.rst-box-4 .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    padding-top: 30px;
    list-style-type: none;
}
.rst-box-4 .slick-dots li {
    margin: 0 0.25rem;
}

.rst-box-4 .slick-dots button {
    display: block;
    width: 20px;
    height: 5px;
    padding: 0;
   
    
    border: none;
    
    background-color: #f2bccc;
    
    text-indent: -9999px;
}

.rst-box-4 .slick-active button {
    background-color: #e45a7e;
}

.slider-next:hover{
    background: #F43F5E;

}


button.slider-prev.slick-arrow:hover {
    background: #F43F5E;
}


.slider-next.slick-arrow:hover path {
    fill: #fff;
}
button.slider-prev.slick-arrow:hover path {
    fill: #fff;
}



button {
    cursor: pointer;
}

*,
.rst-box-4 ::after,
rst-box-4 ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor
}

img {
    border-style: solid
}



.rst-box-4 h1,
.rst-box-4 h2,
.rst-box-4 h3,
.rst-box-4 h4,
.rst-box-4 h5,
.rst-box-4 h6 {
    font-size: inherit;
    font-weight: inherit
}

.rst-box-4 a {
    color: inherit;
    text-decoration: inherit
}






.rst-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem
}

@media (min-width:640px) {
    .rst-container {
        max-width: 640px
    }
}

@media (min-width:768px) {
    .rst-container {
        max-width: 768px
    }
}

@media (min-width:1024px) {
    .rst-container {
        max-width: 1024px
    }
}

@media (min-width:1280px) {
    .rst-container {
        max-width: 1280px
    }
}

@media (min-width:1536px) {
    .rst-container {
        max-width: 1536px
    }
}

.rst-container {
    max-width: 100%
}

@media (min-width:640px) {
    .rst-container {
        max-width: 610px
    }
}

@media (min-width:768px) {
    .rst-container {
        max-width: 750px
    }
}

@media (min-width:1024px) {
    .rst-container {
        max-width: 1000px
    }
}

@media (min-width:1280px) {
    .rst-container {
        max-width: 1200px
    }
}

@media (min-width:1536px) {
    .rst-container {
        max-width: 1316px
    }
}

.rst-absolute {
    position: absolute
}

.rst-relative {
    position: relative
}

.rst-bottom-6 {
    bottom: 1.5rem
}

.rst-top-0 {
    top: 0
}

.rst-right-0 {
    right: 0
}

.rst-mt-16 {
    margin-top: 4rem
}

.rst-mt-7 {
    margin-top: 1.75rem
}

.rst-mt-2 {
    margin-top: .5rem
}

.rst-mr-1 {
    margin-right: .25rem
}

.rst-mt-6 {
    margin-top: 1.5rem
}

.\!rst-inline-block {
    display: inline-block !important
}

.rst-flex {
    display: flex
}

.rst-hidden {
    display: none
}

.rst-h-32\.5 {
    height: 8.125rem
}

.rst-h-32 {
    height: 8rem
}

.rst-w-32\.5 {
    width: 8.125rem
}

.rst-w-32 {
    width: 8rem
}

.rst-rounded-md {
    border-radius: .625rem
}

.rst-rounded-full {
    border-radius: 9999px
}

.rst-border-5 {
    border-width: 5px
}

.rst-border-coolGray-200 {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity))
}

.rst-px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
}

.rst-py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem
}

.rst-text-xl {
    font-size: 1.25rem
}

.rst-text-base {
    font-size: 1rem
}

.rst-font-bold {
    font-weight: 700
}

.rst-font-normal {
    font-weight: 400
}

.rst-text-coolGray-600 {
    --tw-text-opacity: 1;
    color: rgba(75, 85, 99, var(--tw-text-opacity))
}

.rst-opacity-60 {
    opacity: 60%
}

@media (min-width:768px) {
    .md\:rst-mt-0 {
        margin-top: 0
    }
}

@media (min-width:1280px) {
    .xl\:rst-block {
        display: block
    }
}

