/*
------------------------  
 Testimonial  5
--------------------------
*/

.rst-box-5 .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    padding-top: 190px;
    list-style-type: none;
    position: absolute;
    width: 100%;

    bottom: -27px;
}

.rst_rating_theme_5 img{
    width: 21px;
    height: 21px;
}

.rst-box-5{
    max-width: 100%!important;
}

.rst-css-arrow{
    border-width: 12px 12px 0 12px;
    border-color: #F3F4F6 transparent transparent transparent;
    }

.rst-box-5 .slick-slide {
    text-align:center;
    margin-right:12px;
    margin-left:12px;
}


.rst-box-5 .slider-arrows .rst-slider-prev, .slider-arrows .rst-slider-next {
    display: flex;
    align-items: center;
    width: 50px;
    text-align: center;
    padding: 4px 0;
    left: -80px;
    border: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
   
    height: 50px;
    border-radius: 100%;
    transition: .5s;
}
.rst-box-5 .slider-arrows .rst-slider-next {
    left: auto;
    right: -80px;
}
.rst-box-5 .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    padding-top: 56px;
    list-style-type: none;
    position: absolute;

    width: 100%;
}
 

.rst-box-5 .slick-dots li{
    margin: 0 0.25rem;
}

.rst-box-5 .slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
   
    
    border: none;
    border-radius: 100%;
    background-color: #f2bccc;
    
    text-indent: -9999px;
}

.rst-box-5 .slick-active button {
    background-color: #e45a7e;
}




button {
    background-color: transparent;
    background-image: none
}


*,
.rst-box-5 ::after,
.rst-box-5 ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor
}






.rst-box-5 h1,
.rst-box-5 h2,
.rst-box-5 h3,
.rst-box-5 h4,
.rst-box-5 h5,
.rst-box-5 h6 {

    margin: 0
}

.rst-box-5 p{
    margin: 0;
}

.rst-box-5 a {
    color: inherit;
    text-decoration: inherit
}


.rst-box-5 button {
    cursor: pointer;
}




.rst-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem
}

@media (min-width:640px) {
    .rst-container {
        max-width: 640px
    }
}

@media (min-width:768px) {
    .rst-container {
        max-width: 768px
    }
}

@media (min-width:1024px) {
    .rst-container {
        max-width: 1024px
    }
}

@media (min-width:1280px) {
    .rst-container {
        max-width: 1280px
    }
}

@media (min-width:1536px) {
    .rst-container {
        max-width: 1536px
    }
}

.rst-container {
    max-width: 100%
}

@media (min-width:640px) {
    .rst-container {
        max-width: 610px
    }
}

@media (min-width:768px) {
    .rst-container {
        max-width: 750px
    }
}

@media (min-width:1024px) {
    .rst-container {
        max-width: 1000px
    }
}

@media (min-width:1280px) {
    .rst-container {
        max-width: 1200px
    }
}

@media (min-width:1536px) {
    .rst-container {
        max-width: 1316px
    }
}

.rst-relative {
    position: relative
}

.rst-m-auto {
    margin: auto
}

.rst-mb-14 {
    margin-bottom: 3.5rem
}

.rst-mt-4 {
    margin-top: 1rem
}

.rst-mr-1 {
    margin-right: .25rem
}

.rst-inline-block {
    display: inline-block
}

.rst-flex {
    display: flex
}

.rst-hidden {
    display: none
}

.rst-h-15 {
    height: 3.75rem
}

.rst-h-0 {
    height: 0
}

.rst-w-15 {
    width: 3.75rem
}

.rst-w-0 {
    width: 0
}

.rst-justify-center {
    justify-content: center
}

.rst-rounded-md {
    border-radius: .625rem
}

.rst-rounded-full {
    border-radius: 9999px
}

.rst-border {
    border-width: 1px;
}

.rst-border-solid {
    border-style: solid
}

.rst-border-coolGray-100 {
    --tw-border-opacity: 1;
    border-color: rgba(243, 244, 246, var(--tw-border-opacity))
}

.rst-bg-yellow-400 {
    --tw-bg-opacity: 1;
    background-color: rgba(250, 204, 21, var(--tw-bg-opacity))
}

.rst-p-4 {
    padding: 1rem
}

.rst-px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.rst-py-2\.5 {
    padding-top: .625rem;
    padding-bottom: .625rem
}

.rst-py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.rst-pt-20 {
    padding-top: 5rem
}

.rst-text-center {
    text-align: center
}

.rst-text-2xl {
    font-size: 1.5rem
}

.rst-text-base {
    font-size: 1rem
}

.rst-text-xl {
    font-size: 1.25rem
}

.rst-font-bold {
    font-weight: 700
}

.rst-font-normal {
    font-weight: 400
}

.rst-rst-leading-54 {
    line-height: 54px
}

.rst-text-black {
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity))
}

.rst-text-coolGray-600 {
    --tw-text-opacity: 1;
    color: rgba(75, 85, 99, var(--tw-text-opacity))
}

.rst-text-coolGray-900 {
    --tw-text-opacity: 1;
    color: rgba(17, 24, 39, var(--tw-text-opacity))
}

.rst-opacity-60 {
    opacity: 60%
}

.rst-transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: 150ms
}

.hover\:rst-border-coolGray-200:hover {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity))
}

@media (min-width:768px) {
    .md\:rst-text-4xl {
        font-size: 2.5rem
    }
}

@media (min-width:1280px) {
    .xl\:rst-block {
        display: block
    }
}