.rst_container_box_thm_4{
    max-width: 100%!important;
}

.rst_container_box_thm_4 .rst_author_image{
    margin-top: 20px!important;
}


.rst_container_box_thm_4 .rst_rating{
    margin-bottom: 20px!important;
}



.rst_container_box_thm_4 .rst-pur-css-arrow{
    border-width: 12px 12px 0 12px;
    border-color: #F3F4F6 transparent transparent transparent;
    }


*,
.rst_container_box_thm_4 ::after,
.rst_container_box_thm_4 ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor
}




[role=button],
button {
    cursor: pointer
}




.rst_container_box_thm_4 h1,
.rst_container_box_thm_4 h2,
.rst_container_box_thm_4 h3,
.rst_container_box_thm_4 h4,
.rst_container_box_thm_4 h5,
.rst_container_box_thm_4 h6 {
  margin: 0;
}

.rst_container_box_thm_4 a {
    color: inherit;
    text-decoration: inherit
}





[hidden] {
    display: none
}



.rst-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem
}

@media (min-width:640px) {
    .rst_container_box_thm_4 .rst-container {
        max-width: 640px
    }
}

@media (min-width:768px) {
    .rst_container_box_thm_4 .rst-container {
        max-width: 768px
    }
}

@media (min-width:1024px) {
    .rst_container_box_thm_4 .rst-container {
        max-width: 1024px
    }
}

@media (min-width:1280px) {
    .rst_container_box_thm_4 .rst-container {
        max-width: 1280px
    }
}

@media (min-width:1536px) {
    .rst_container_box_thm_4 .rst-container {
        max-width: 1536px
    }
}

.rst_container_box_thm_4 .rst-container {
    max-width: 100%
}

@media (min-width:640px) {
    .rst_container_box_thm_4 .rst-container {
        max-width: 610px
    }
}

@media (min-width:768px) {
    .rst_container_box_thm_4 .rst-container {
        max-width: 750px
    }
}

@media (min-width:1024px) {
    .rst_container_box_thm_4 .rst-container {
        max-width: 1000px
    }
}

@media (min-width:1280px) {
    .rst_container_box_thm_4 .rst-container {
        max-width: 1200px
    }
}

@media (min-width:1536px) {
    .rst_container_box_thm_4 .rst-container {
        max-width: 1316px
    }
}

.rst_container_box_thm_4 .rst-relative {
    position: relative
}

.rst_container_box_thm_4 .rst-m-auto {
    margin: auto
}

.rst_container_box_thm_4 .rst-mt-4 {
    margin-top: 1rem
}

.rst_container_box_thm_4 .rst-mr-1 {
    margin-right: .25rem
}

.rst_container_box_thm_4 .rst-inline-block {
    display: inline-block
}

.rst_container_box_thm_4 .rst-flex {
    display: flex
}

.rst_container_box_thm_4 .rst-grid {
    display: grid
}

.rst_container_box_thm_4 .rst-h-15 {
    height: 60px!important;
}

.rst_container_box_thm_4 .rst-h-0 {
    height: 0
}

.rst_container_box_thm_4 .rst-w-15 {
    width: 60px!important;
}

.rst_container_box_thm_4 .rst-w-0 {
    width: 0
}

.rst_container_box_thm_4 .rst-flex-col {
    flex-direction: column
}

.rst_container_box_thm_4 .rst-justify-center {
    justify-content: center
}

.rst_container_box_thm_4 .rst-gap-6 {
    gap: 1.5rem
}

.rst_container_box_thm_4 .rst-rounded-md {
    border-radius: .625rem
}

.rst_container_box_thm_4 .rst-rounded-full {
    border-radius: 9999px
}

.rst_container_box_thm_4 .rst-border {
    border-width: 1px
}

.rst_container_box_thm_4 .rst-border-solid {
    border-style: solid
}

.rst_container_box_thm_4 .rst-border-coolGray-100 {
    --tw-border-opacity: 1;
    border-color: rgba(243, 244, 246, var(--tw-border-opacity))
}

.rst_container_box_thm_4 .rst-p-4 {
    padding: 1rem
}

.rst_container_box_thm_4 .rst-rst-pt-20 {
    padding-top: 5rem
}

.rst_container_box_thm_4 .rst-text-center {
    text-align: center
}

.rst_container_box_thm_4 .rst-text-base {
    font-size: 1rem
}

.rst_container_box_thm_4 .rst-text-xl {
    font-size: 1.25rem
}

.rst_container_box_thm_4 .rst-font-normal {
    font-weight: 400
}

.rst_container_box_thm_4 .rst-font-bold {
    font-weight: 700
}

.rst_container_box_thm_4 .rst-text-coolGray-600 {
    --tw-text-opacity: 1;
    color: rgba(75, 85, 99, var(--tw-text-opacity))
}

.rst_container_box_thm_4 .rst-text-coolGray-900 {
    --tw-text-opacity: 1;
    color: rgba(17, 24, 39, var(--tw-text-opacity))
}

.rst_container_box_thm_4 .rst-opacity-60 {
    opacity: 60%
}

.rst_container_box_thm_4 .rst-transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: 150ms
}

.rst_container_box_thm_4 .hover\:rst-border-coolGray-200:hover {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity))
}

@media (min-width:640px) {
    .rst_container_box_thm_4 .sm\:rst-grid {
        display: grid
    }

    .rst_container_box_thm_4 .sm\:rst-grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media (min-width:1024px) {
    .rst_container_box_thm_4 .lg\:rst-grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
}